* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
overflow: hidden;
font-family: 'Open Sans', sans-serif;
}

.map-container {
  width: 100vw;
  height: 100vh;
}
.map-container.active {
  width: calc(100vw - 350px);
  float: right;
}
/* =============== sidebar styles =============== */
.map-container.active .header {
  width: calc(100% - 350px);
}

.main-header {
  position: fixed;
  z-index: 1000;
  height: 80px;
  width: auto;
  padding-left: 60px;
  color: #E45340;
}

.main-header h1 {
  line-height: 80px;
  font-weight: normal;
  font-size: 14pt;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.header-bc {
  background: #303030;
  position: fixed;
  z-index: 1000;
  height: 80px;
  width: 450px
}
.list-holder {
  list-style-type: none;
  text-align: left;
  width: 95%;
  margin-top: 20px;
  margin-left: 10px;
}
.list-holder li {
  font-size: 11pt;
  padding: 15px;
  color: #808080;
  display: block;

}
.list-holder li:hover {
  color: #C9C9C9;
}
input {
  width: 90%;
  border: none;
  margin-left: 20px;
  margin-top: 100px;
  padding: 25px;
  background: #3C3C3C;
  outline: none;
  color: #C9C9C9;
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
  border-radius: 5px;
}

.sidebar {
  width: 450px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -450px;
  transition: all 0.3s easeout;
  background: #303030;
  z-index: 999;
  overflow: auto;
}
::-webkit-scrollbar {
    width: 0;
}

#sidebartoggle {
  margin-left: -30px;
}

.sidebar.active {
  left: 0;
  transition: all 0.3s ease-out 0s;
}

.icon {
  position: fixed;
  top: 40px;
  left: 30px;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  cursor: pointer;
  z-index: 1000;
}

.icon .hamburger {
  width: 25px;
  height: 2px;
  background: #E45340;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-out 0s;
  border-radius:  2px;
}

.icon .hamburger:before, .hamburger:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background: #E45340;
  transition: all 0.3s ease-out 0s;
  border-radius:  2px;
}

.icon .hamburger:before {
  top: -7px;
}

.icon .hamburger:after {
  top: 7px;
}

.icon.active  {

 }

.icon.active .hamburger {
  background: rgba(0, 0, 0, 0);
  transition: all 0.3s ease-out 0s;
 }
.icon.active .hamburger:before {
  top: 0;
  transform: rotate(45deg);
}

.icon.active .hamburger:after {
  top: 0;
  transform: rotate(135deg);
}
.venue-image {
  width: 350px;
  height: auto;
  margin: 0 auto;
}

.gm-style-iw {
  background: #fff;
  top: 0 !important;
  left: 0 !important;
  width: 99% !important;
  height: 99% !important;
  min-height: 300px !important;
  display: block !important;
  margin: 2px;
  font-family: 'Open Sans', sans-serif;
  overflow: auto !important;
}

.gm-style-iw + div {
  right: -20px !important;
  top: -20px !important;
  display: block !important;
  background-color: #fff !important;
  opacity: 1;
}

.info-win-container {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}
.text {
  padding: 10px 20px;
}
.detail {
  color: #000;
  text-decoration: none;
  padding: 5px 20px;
}
.detail span {
  font-weight: bold;
}
.infowindow-head {
  min-width: 250px;
  max-width: 450px;
}

.info-image {
  width: 100%;
}
.info-win-container h1, .info-win-container h2 {
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  padding: 10px;
  font-size: 16px;
}
.info-win-container h2 {
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 500px) {

  .main-header h1 {
    font-size: 10pt;
  }
  .header-bc {
    width: 300px;
  }
  .sidebar {
    width:100%;
    height: 50vh;
    position: fixed;
    top: -50vh;
    left: 0;
    transition: all 0.3s easeout;
    background: #303030;
    z-index: 999;
    overflow: auto;
  }
  .sidebar.active {
    top: 0;
    transition: all 0.3s ease-out 0s;
  }
}
